@page
@model PethouseWeb.Pages.Pets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pet.PetId" />
            <div class="form-group">
                <label asp-for="Pet.Petname" class="control-label"></label>
                <input asp-for="Pet.Petname" class="form-control" />
                <span asp-validation-for="Pet.Petname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Birthdate" class="control-label"></label>
                <input asp-for="Pet.Birthdate" class="form-control" />
                <span asp-validation-for="Pet.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Photo" class="control-label"></label>
                <input asp-for="Pet.Photo" class="form-control" />
                <span asp-validation-for="Pet.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.UserId" class="control-label"></label>
                <select asp-for="Pet.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Pet.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.RaceId" class="control-label"></label>
                <select asp-for="Pet.RaceId" class="form-control" asp-items="ViewBag.RaceId"></select>
                <span asp-validation-for="Pet.RaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.BreedId" class="control-label"></label>
                <select asp-for="Pet.BreedId" class="form-control" asp-items="ViewBag.BreedId"></select>
                <span asp-validation-for="Pet.BreedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
